server:
  port: 8080

spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: http://user-service:8081
              predicates:
                - Path=/auth/**

            - id: server-service
              uri: http://server-service:8082
              predicates:
                - Path=/servers/**
              filters:
                - AuthenticationFilter

            - id: notification-service
              uri: http://notification-service:8084
              predicates:
                - Path=/notifications/**
              filters:
                - AuthenticationFilter

jwt:
  secret: ${JWT_SECRET}
